body {
    margin: 0;
    padding: 0;
}

#playground {
    margin: 0 auto;
    width: 100vh;
    height: 100vh;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.snake-block {
    position: absolute;
    display: block;
    width: 2%;
    height: 2%;
    background-color: green;
}
.food-block {
    position: absolute;
    display: block;
    width: 2%;
    height: 2%;
    background-color: red;
}

@media only screen and (max-width: 768px) {
    #playground {
        margin-top: auto;
        width: 100vw;
        height: 100vw;
    }
}
